body {
  background-color: rgb(4, 174, 216);
  font: normal 10pt Arial;
}

input[type=number] {
  -moz-appearance:textfield;
}

a {
  text-decoration: none;
}

header {
  text-align: center;
  color: white;
}

main {
  margin: auto;
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);
}

main section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

section div {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.buttonLink {
  width: 125px;
  padding: 10px;
  border-radius: 10px; 
  cursor: pointer;
  font: normal 10pt Arial;
  border: none;
  color: white;
  background-color: rgb(4, 174, 216);
  box-shadow: 2px 2px 10px rgba(4, 174, 216, 0.7);
  text-align: center;
}
.buttonLink:active {
  transform: scale(0.95);
}


footer {
  text-align: center;
  font-style: oblique;
  color: white;
  font: normal 12pt Arial;
}

footer p a {
  text-decoration: none; color: inherit;
}

@media only screen and (max-width: 800px) {
  main {
    width: auto;
  }
}