body {
  background-color: rgb(4, 174, 216);
  font: medium 15pt Arial;
}

input[type=number] {
  -moz-appearance:textfield;
}

header {
  text-align: center;
  color: white;
}

main {
  margin: auto;
  width: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 10px; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);
}

footer {
  text-align: center;
  font-style: oblique;
  color: white;
  font: normal 12pt Arial;
}

footer p a {
  text-decoration: none; color: inherit;
}
