body {
  background-color: rgb(4, 174, 216);
  font: normal 12pt Arial;
}

/* input[type=number] {
  -moz-appearance:textfield;
} */

a {
  text-decoration: none;
}

header {
  text-align: center;
  color: white;
}

main {
  margin: auto;
  width: 700px;
  padding: 20px;
  background-color: white;
  border-radius: 10px; 
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.377);
}

#areaGerarTabuada {
  display: flex;
  justify-content: space-between;
}

#buttonNumeroEscolhido, #buttonGerarImagem, .download {
  width: 125px;
  padding: 2px 2px;
  border-radius: 10px; 
  cursor: pointer;
  font: normal 10pt Arial;
  border: none;
  color: white;
  background-color: rgb(4, 174, 216);
  box-shadow: 2px 2px 10px rgba(4, 174, 216, 0.7);
  text-align: center;
}

#buttonNumeroEscolhido:active, #buttonGerarImagem:active, .download:active {
  transform: scale(0.95);
}

#limparTudo {
  width: 50px;
  height: 50px;
  border: 0px;
  border-radius: 50%;
  background-color: rgb(4, 174, 216, 0.255);
  display: flex;
  cursor: grabbing;
  align-items: center;
  justify-content: center;
  color: white;
  font: normal 15pt Verdana;
  box-shadow: 2px 2px 10px rgba(4, 174, 216, 0.7);
}

#limparTudo:active {
  transform: scale(0.95);
}

main section {
  display: flex;
  justify-content: space-around;
}

section div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

main section select {
  margin-top: 10px;
  width: 125px;
  height: 15vw;
}

#buttonGerarImagem {
  margin-top: 7px;
}

#areaButtonGerarImagem {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.displayEsconder {
  display: none;
}

.organizarAreaImagemGerada {
  display: flex;
  justify-content: space-between;
}

#imagemGerada {
  margin-top: 10px;
  width: 700px;
}

.espaco {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer {
  text-align: center;
  font-style: oblique;
  color: white;
  font: normal 12pt Arial;
}

footer p a {
  text-decoration: none; color: inherit;
}

@media only screen and (max-width: 800px) {
  main {
    width: inherit;
  }
  main .sectionCalc {
    flex-direction: column;
  }
  main .sectionCalc div {
    text-align: center;
  }
  main .sectionCalc div select {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  #msgButtonGerarImagem {
    text-align: center;
  }
  #imagemGerada {
    width: auto;
  }
}